<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{meta_title}}</title>
    <link rel="stylesheet" href="{{asset "css/style.css"}}">
    {{ghost_head}}
</head>
<body class="{{body_class}}">
    <div class="post-container">
        <header class="post-header">
            <a href="{{@site.url}}" class="back-link">← Back to Timeline</a>
            <h1>{{title}}</h1>
            <div class="post-meta">
                <span class="author">{{primary_author.name}}</span>
                <span class="date">{{date format="MMM DD, YYYY"}}</span>
                {{#if tags}}
                <span class="tags">
                    {{#foreach tags}}
                    <a href="{{url}}" class="tag">{{name}}</a>
                    {{/foreach}}
                </span>
                {{/if}}
            </div>
        </header>

        <main class="post-content">
            {{#if feature_image}}
            <img class="feature-image" src="{{feature_image}}" alt="{{title}}">
            {{/if}}

            <div class="post-body">
                {{{content}}}
            </div>
        </main>

        <footer class="post-footer">
            <div class="author-info">
                {{#primary_author}}
                <div class="author-card">
                    {{#if profile_image}}
                    <img src="{{profile_image}}" alt="{{name}}" class="author-image">
                    {{/if}}
                    <div class="author-details">
                        <h3>{{name}}</h3>
                        {{#if bio}}
                        <p>{{bio}}</p>
                        {{/if}}
                    </div>
                </div>
                {{/primary_author}}
            </div>
        </footer>
    </div>

    {{ghost_foot}}
</body>
</html>
